#Ignore backups
*~

#Ignore logs
*.log

#Ignore build artifacts
/dist/
/build/
*.class
Phlogiston.jar

#Ignore local user settings
/nbproject/private/

#Ignore game data and program output
*.obb
*.ark
*.obbx
*.arkx
/wd/extract*
*.GloftPOHM
/wd/out/
/wd/*.md
/wd/*.jar
/wd/*.csv
/wd/*.ods
/wd/*.txt
/*release.zip
