#Ignore backups
*~

#Ignore logs
*.log

#Ignore build artifacts
/dist/
/build/
*.class
Phlogiston.jar

#Ignore local user settings
/nbproject/private/

#Ignore game data and program output
/*.obb
/extract/
/out/